// Place all the styles related to the moments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gutter: 20px;

body {
    margin: 0 auto;
    max-width: 500px;
}

h1 {
    margin: 0;
    padding: $gutter;
    text-align: center;
}

#timeline {
    margin-top: $gutter;
    position: relative;
}

.markers .decade {
    color: lightgray;
    position: absolute;
    right: .5em;
}

.moment {
    border-left: 2px solid black;
    padding-left: .5em;
    position: absolute;

    .name, .date {
        white-space: nowrap;
    }
}

#info {
    padding: $gutter;
}